chromadb==0.4.24
sentence-transformers==2.7.0
transformers==4.41.1
torch>=2.1.0
gradio==4.24.0
PyPDF2==3.0.1
tqdm==4.66.4
langchain==0.1.16
pydantic==1.10.12
sentence-transformers
PyPDF2
chromadb
google-genai
langgraph
dotenv
